:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #5c5470;
  --secondary-color: #dbd8e3;
  --third-color: #352f44;
  --fourth-color: #2a2438;
}

body {
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--third-color);
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  color: var(--third-color);
  line-height: 1.5;
  font-weight: normal;
  font-family: var(--heading-font-family);
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 28px;
}

:hover.btn-branding {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  border: 1px solid var(--fourth-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  padding: 15px 30px;
}

:hover.btn-branding-outline {
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 28px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 2;
  }
  h2 {
    font-size: 32px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 18px;
    font-weight: normal;
  }
  .project-description {
    padding-bottom: 60px;
    text-align: center;
  }
}